<ul>
<% @movies.each do |movie| %>
  <li><strong><%=movie.title%></strong> has
   <%=movie.rating%> rating and earned
   <%=total_gross(movie)%>
  </li>
  <p><%description(movie)%></p>
  <p><%=year_of(movie)%></p>
<%end%>
</ul>