<section class="review-details">

  <div class="details">
    <h1>
      <%= @review.name%>
    </h1>
    <h2>
      <%= @review.comment%>
    </h2>
    <h3>
      @review.star
    </h3>
  </div>
  
 
</section>